@use "./node_modules/bulma/sass" with (
  $hr-margin: 0.25rem 0 1.25rem
);

header,
section {
  margin: 2rem 0;
}

header {
  margin-bottom: 2.5rem;
}

section {
  h3 {
    color: var(--bulma-primary);
    text-transform: uppercase;
    font-size: var(--bulma-size-5);
  }

  hr {
    background-color: var(--bulma-primary);
  }
}
