$column-gap: 1.25rem;

@import "./node_modules/bulma-scss/bulma.scss";

header,
section {
  margin: 2rem 0;
}

section:first-child {
  margin-top: 0;
}

header {
  margin-bottom: 2.5rem;
}

section {
  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: $size-5;
  }

  hr {
    background-color: $primary;
    margin: 0.25rem 0 1.25rem;
  }
}
