---
import { Button } from "./ui/button";

interface Props {
  icon: any;
  href: string;
  ariaLabel: string;
}

const props = Astro.props;
---

<a href={props.href} target="_blank">
  <Button className="cursor-pointer" variant="link">
    <props.icon aria-label={props.ariaLabel} />
    <span>
      <slot>
        {props.href}
      </slot>
    </span>
  </Button>
</a>
