---
interface Props {
  icon: any;
  href: string;
  ariaLabel: string;
}

const props = Astro.props;
---

<a class="text-link" href={props.href} target="_blank">
  <props.icon aria-label={props.ariaLabel} width="20px" />
  <span>
    <slot>
      {props.href}
    </slot>
  </span>
</a>
