---
import { cn } from "@/lib/utils";

interface Props {
  title?: string;
  withSpacing?: boolean;
}

const props = Astro.props;
---

<section
  class={cn(
    "mb-12 flex flex-col first:mt-8 break-inside-avoid",
    props.withSpacing !== false && "gap-4"
  )}
>
  {
    props.title && (
      <>
        <h3 class="text-xl font-bold">{props.title}</h3>
        <hr class="-mt-2 border border-primary/35" />
      </>
    )
  }
  <slot />
</section>
