---
interface Props {
  title: string;
  from: string;
  to?: string;
  hideTo?: boolean;
}

const props = Astro.props;
---

<div>
  <div class="flex items-center">
    <h3 class="not-prose text-lg font-medium">{props.title}</h3>
    <div class="m-auto"></div>
    <div class="font-mono">
      <span>{props.from}</span>
      {
        props.hideTo ? null : (
          <>
            — <span>{props.to ?? "Present"}</span>
          </>
        )
      }
    </div>
  </div>

  <slot />
</div>
